#container h1 {
  margin-top: 1rem;
}

.header {
  padding: 1rem;
  width: 98%;
  background-color: tomato;
  color: aqua;
  display: flex;
  justify-content: space-between;
}
.body_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
